<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <main>
            <h1><%= title %></h1>
            <p>Bem vindo(a) ao <strong><%= title %></strong></p>
        </main>
        <footer>
            <p>Versão <%= version %></p>
        </footer>
    </body>
</html>