body {
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
    line-height: 2;
    color: white;
    background-color: #060239;
}
main,
footer {
    margin: 0 auto;
}

.flex-container{
    display: grid;
    justify-content: center;
    align-items: center;
}