body {
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
    line-height: 2;
    color: white;
    background-color: #060239;
}
a{
    color: white;
}
.btn-1 {
    color: white;        
    background-color: rgb(65, 16, 129);
}
.version{
    margin: 0 auto;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    position: fixed;    
    right: 30px;
    bottom: 0px;
    color: rgb(115, 0, 182);    
}
.flex-container{
    display: grid;
    justify-content: center;
    align-items: center;
}