body {
  font: 18px 'Lucida Grande', Helvetica, Arial, sans-serif;
  line-height: 2;
  color: white;
  background-color: black;
}
header {
  padding: 10px;
  justify-content: space-between;
}
h1 {
  padding: 10px;
  text-align: center;
}
.btn-1 {
  color: white;
  background-color: rgb(65, 16, 129);
}
.version {
  margin: 0 auto;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  position: fixed;
  right: 30px;
  bottom: 0px;
  color: #0d6efd;
}
.grid-container {
  justify-content: center;
  align-items: center;
}
.grid-1 {
  text-align: center;
  margin: 0 auto;
  display: grid;
  padding: 200px;
  height: 100%;
  background-color: #2c3e50;
}
.grid-2 {
  text-align: center;
  margin: 0 auto;
  padding: 200px;
  display: grid;
  padding: 200px;
  height: 100%;
  background-color: #2c3e50;
}
.grid-3 {
  margin: 0 auto;
  display: grid;
  padding: 200px;
  padding: 200px;
  height: 100%;
  background-color: #2c3e50;
}
.grid-4 {
  margin: 0 auto;
  display: grid;
  padding: 200px;
  padding: 200px;
  height: 100%;
  background-color: #2c3e50;
}
.grid-5 {
  margin: 0 auto;
  display: flex;
  padding: 200px;
  height: 100%;
  background-color: #2c3e50;
}
.copy {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
